/* public/css/dashboard.css */

body { 
    background-color: #f8f9fa; 
}

.sidebar { 
    background-color: #000; 
    min-height: 100vh; 
    color: #fff; 
    width: 240px; 
}

.nav-link { 
    color: #fff; 
    opacity: 0.8; 
}

.nav-link:hover, .nav-link.active { 
    opacity: 1; 
    background-color: #333; 
}

.btn-create { 
    background-color: #1a1d21; 
    color: white; 
    border-radius: 20px; 
}